.meeting-creation-question {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  background: #FFF;
  border: 1px solid #E5E5E5;
  border-radius: 8px;
  gap: 24px;
  padding: 24px;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 9px;

    &-input {
      border: none;
      background: #F3F3F5;
      padding: 15px 12px;
      border-radius: 8px;
      font-size: 14px;

      &-name {
        font-size: 16px;
        color: #000;
        margin: 0;
      }
    }
  }
}